@font-face {
    font-family: konnect;
    src: url(./assets/fonts/KonnectLight.otf)
  }
  #App {
    font-family: konnect;
    background-image: url('./assets/images/back.png');
    background-size: contain;
  }