.footer{
	background:url('../images/footer-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    padding: 5rem 1rem 2rem 1rem;
}.footerHeadd{
    font-weight: 700;
    font-size:1.7rem;
    padding-bottom: 3rem;
    margin-bottom: -25px;
}
.footerHead{
    font-weight: 700;
    font-size:1rem;
    padding-bottom: 3rem;
    margin-bottom: -25px;
}
.footerContainer{
    display: flex;
    flex-wrap: wrap;
    gap:6rem;
    justify-content: space-around;
    padding-bottom: 1rem;
}
.hrBorder{
    border-top: 3px solid #dedede;
    margin-top: 1rem;
    margin-bottom:1rem;
}
.footerNormalText{
    font-size:12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.603);
    line-height: 25px;
    padding-bottom: 1rem;
}
.footerHighlightTextOne{
    font-size:14px;
    font-weight: 600;
    color:white;
}
.footer-foot{
    margin-top: 15px;
    font-size: 0.75rem;
    margin-bottom: 20px;
}
.footer-logo{
    height: 70px;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
}
.footerHighlightText{
    font-size:14px;
    font-weight: 400;
    color:#F76C24;
}
.footerContentSet{
    /* display: flex; */
}
.footerContentSet-logo{
    display: flex;
    align-items: center;
    width: max-content;
}
.footerSocialIconsContainer{
    display: flex;
    gap:0.8rem;
    padding-left: 1rem;
}
.footerSocialIcons{
    color:#F76C24;
    background: white;
    border-radius: 50%;
    height: 1.8rem;
    width:1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.footerSocialIcons:hover{
    transform: scale(1.1);
}
.inputEmail{
    width:170px;
    background: white;
    font-size: 14px;
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.inputContainer{
    display: flex;
    border: none;
}
.subBtn{
    border: none;
    border-radius: 0 5px 5px 0;
    width:130px;
    background: 
    rgba(254, 93, 20, 1);
    font-size: 0.93rem;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:2.5rem;
    color:white;
}
.subBtn:hover{
    cursor: pointer;
    background-color: rgba(169, 51, 46, 1);
}
.footer-foot{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fot{
    text-align: left;
    width: 580px;
}
.cont-foot{
    display: flex;
}
.smss{
    margin: 0 50px;
}
.twoo{
    display: flex;
    gap: 100px;
}
/* @media(max-width:1150px){
    .inputContainer{
        transform: scale(0.85);
        margin-left: -18px;
    }
} */
@media(max-width:1120px){
    .footer-foot{
        flex-direction: column;
        text-align: center;
    }
    .foooot{
        margin: 20px 0;
    }
    .fot{
        width: auto;
        text-align: center;
    }
}
@media(max-width:787px){
    .footerContainer{
        display: flex;
        flex-wrap: wrap;
        gap:2rem;
        justify-content: left;
        padding: 0 50px;
    }
}
@media(max-width:500px){
    .cont-foot{
        flex-direction: column;
    }
    .smss{
        margin: 0 0;
    }
}
@media(max-width:414px){
    .twoo{
        flex-direction: column;
    }
}
/* @media(max-width:1133px){
    .footer{
        padding-right: 2rem;
    }
}
@media(max-width:1043px){
    .footer{
        padding-right: 3rem;
    }
} */
