.Bann-y {
    background-image: url("../images/gallery.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gall-gallery{
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gallery{
    height: 40vw;
  }
  .ph-gallery{
    display: none;
  }

  @media(max-width:401px){
    .gallery{
      display: none;
    }
    .ph-gallery{
      display: block;
      height: 1500px;
    }
  }
  @media(max-width:360px){
    .ph-gallery{
      height: 1400px;
    }
  }